.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
bin/win32/**
!bin/win32/winclip.exe
bin/linux/**
!bin/linux/gtkclip
